/* ============================= side-container ====================================== */

#side-container {
	display: block;
	position:fixed;
	top:2rem; 
	right:5%; 
	max-width:200px;
	min-width:100px;
}

#concatcontainer {
	min-height: 30rem;
	max-height: 30rem;
	overflow: auto;
	background-color:rgba(128,193,255,0.6);
	font-size: 1em;
	overflow-x: hidden;
	overflow-y; auto;
}

#startbutton {
	text-align: center;
}

#startbutton a {
	margin: 0.25em 0.5em 0.25em 0.5em;
	width: 60%;
}

#trash {
	margin-bottom:20px; 
	min-height: 70px; 
	background-color:rgba(128,30,30,0.6);
}

/* ============================= search ====================================== */

#delSearchButton {
	color: black;
	display: none;
}

#search {
	font-size:1.8em;
	padding-left: 0.625rem;
}


.mytoast {
	display: none;
	position: fixed;
	top: 20%;
	font-size: 1.5em;
	line-height: 100%;
	width: 60%;
	background-color: rgba(128,128,128,0.6);
	font-style: bold;
	z-index: 2;
	text-align: center;
	margin: 0 20% 0 20%;
	padding: 1em;
	overflow: hidden;
	border-radius: 2em;
}

/* ============================= sounds ====================================== */

.sound {
	width: 33%; 
	float:left; 
	padding: 0.7em;
}

.soundchip {
	display: inline-block;
	height:4em;
	line-height:4em;
	padding: 0 2em 0 4em;
	border-radius: 2em;
	font-size: 1em;
	max-width: 100%;
	font-weight: 900;
	color: rgba(0,0,0,0.6);
}

.soundchip i {
	line-height: inherit;
	font-size: 2em;
}

.soundchip .soundname {
	float: left;
	width: 90%;
	max-width: 90%;
	padding: 0 0.25em 0 0.25em;
}

.soundchip img {
	float: left;
	margin: 0 0 0 -4em;
	height: 4em;
	width: 4em;
	border-radius: 50%;
}

.soundchip .chipbutton {
	float: left;
	max-width: 5%;
	color: black;
}

/* ============================= tooltip ====================================== */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 200px;*/
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	font-size: 1rem;

    /* Position the tooltip text */
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 25%;
	width:50%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ============================= others ====================================== */

body {
	background-image: url(../img/background_large.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	min-width: 22rem;
	margin:0 0 25% 0; 
}

.btn {
	background-color: rgba(102,187,106,1);
}

.btn:hover {
	background-color: rgba(129,199,132,1);
}

#bottom-small{
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height:6%;
	z-index: 1;
}

#bottom-small a {
	width: 100%;
	height: 100%;
}

#bottom-small i {
	font-size:3.5em; 
	line-height:100%;
}
/* ============================= media queries ====================================== */

@media(max-width:1000px) {
	/* ============================= create bottom container ====================================== */
	#side-container {
		display: none;
		top:33%;
		right:0;
		bottom:0%;
		max-width:100%;
		min-width:100%;
		max-height:66%;
		z-index:1;
		background-color: grey;
	}
	
	#concatcontainer {
		min-height: 85%;
		max-height: 85%;
		overflow: auto;
	}
	
	#startbutton {
		height: 3.5em;
	}
	
	#startbutton i {
		font-size: 2.5em;
		line-height: 100%;
	}
	
	#startbutton a {
		padding-top: 0.25em;
		margin: 0.25em 0.5em 0.25em 0.5em;
		height: 3em;
		width: 30%;
	}
		
	#side-container .invisOnBottom {
		display:none;
	}
}

@media(min-width:1000px) {
	body {
		margin:0 20% 0 0; 
	}
}

@media only screen and (max-device-width:900px) {
		
	body {
		background-image: none;
		background-color: rgba(128,128,128,0.5);
		font-size: 2rem;
		min-width: 0px;
		margin-bottom: 10%;
	}
	
	#container {
		background-color: rgba(128,128,128,0.5);
	}
	
	.tooltip .tooltiptext {
		display: none;
	}
		
	.sound {
		width: 100%;
		margin-bottom:1rem;
	}
	
	#bottom-small {
		display: block;
	}
}